@import url("https://fonts.googleapis.com/css?family=Montserrat");



@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName}{
        @content;
    }
}


@include keyframes (scrolling){
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// body {
// 	font-family: 'Montserrat', sans-serif;
// 	background-color: #eee;
// 	color: #111;
// 	height: 100vh;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

:root {
	--marquee-width: 80vw;
	--marquee-height: 20vh;
	--marquee-elements-displayed: 5;
	--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
	--marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}
.marquee {
	width: var(--marquee-width);
	height: var(--marquee-height);
	background-color: #111;
	color: #eee;
	overflow: hidden;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		width: 10rem;
		height: 100%;
		content: "";
		z-index: 1;
		left: 0;
		background: linear-gradient(to right, #111 0%, transparent 100%);
	}
	&:after {
		position: absolute;
		top: 0;
		width: 10rem;
		height: 100%;
		content: "";
		z-index: 1;
		right: 0;
		background: linear-gradient(to left, #111 0%, transparent 100%);
	}
}

.marquee-content:hover {
  animation-play-state: paused;
}



.marquee-content {
	list-style: none;
	height: 100%;
	display: flex;
	animation: scrolling var(--marquee-animation-duration) linear infinite;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: var(--marquee-element-width);
		max-height: 100%;
		font-size: calc(var(--marquee-height)*3/4);
		white-space: nowrap;
		img {
			width: 100%;
			border: 2px solid #eee;
		}
	}
}
@media (max-width: 600px) {
	html {
		font-size: 12px;
	}
	&:root {
		--marquee-width: 100vw;
		--marquee-height: 16vh;
		--marquee-elements-displayed: 3;
	}
	.marquee {
		&:before {
			width: 5rem;
		}
		&:after {
			width: 5rem;
		}
	}
}
